services:
  backend:
    build: ./backend
    container_name: tag-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: tag-frontend
    ports:
      - "4173:4173"
    depends_on:
      - backend
    restart: always
