# Ignore Python cache files and folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables file
.env

# Ignore git files and folders
.git
.gitignore

# Ignore other files/folders that are not needed in the container
node_modules/
tests/
*.log
